---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
import { Size } from "../types";
import { Image } from "astro:assets";
import heroImage from "../images/hero.webp";
import doctorImage from "../images/katerina.webp";
import config from "../../config";
import Button from "../components/Button.astro";
import Feature from "../components/Feature.astro";
import Label from "../components/Label.astro";
---

<Layout description={config.description}>
  <section class="sm:pt-8 lg:pt-16 pb-24">
    <div
      class:list={[
        "container flex flex-col md:grid grid-cols-2 gap-8",
        "grid-rows-[min-content_min-content_min-content]",
        "md:first-child:self-end",
        "last-child:col-start-1",
        "last-child:self-start",
        "last-child:justify-self-start",
        "penultimate-child:col-start-1",
        "second-child:col-start-2",
        "second-child:self-center",
        "second-child:row-span-full",
      ]}
    >
      <Heading size={Size.XL}>Společně na cestě za zdravím vašich dětí</Heading>
      <figure>
        <Image src={heroImage} alt="Roztomilá holčička" />
      </figure>
      <p class="text-orange-950 leading-loose max-w-lg">
        {config.description}
      </p>
      <Button href={config.links.contact.path}>Kontaktujte nás</Button>
    </div>
  </section>
  <section class="bg-gray-50 px-12 space-y-12">
    <article
      class="-translate-y-12 shadow-2xl shadow-gray-200 max-w-3xl mx-auto p-12 rounded-3xl bg-white text-center text-purple-950"
    >
      <Heading size={Size.SM} as="p">
        Aktuálně registrujeme nové pacienty
      </Heading>
    </article>
    <article class="max-w-3xl mx-auto text-center">
      <Heading size={Size.LG}>
        Osobním přístupem se snažíme zajistit, aby každá návštěva byla co
        nejpříjemnější a nejužitečnější pro celou rodinu.
      </Heading>
    </article>
  </section>
  <section class="bg-gray-50 py-16 md:py-24">
    <ul class="container grid grid-cols-1 md:grid-cols-3 gap-12">
      <li>
        <Feature title="Zkušený tým">
          Lékařka v ordinaci <strong>MUDr. Kateřina Rieger Konopásková</strong>
           se sestřičkou
          <strong>Zorou Pospíchlovou</strong>
        </Feature>
      </li>
      <li>
        <Feature title="Spolupráce">
          Spolupracujeme s s klinikou dětí a dorostu <strong
            >VFN Ke Karlovu 2</strong
          >, <strong>FN Královské Vinohrady</strong> , <strong>FTN Krč</strong>,


          <strong>FN Motol</strong> a ostatními vybranými odb. pracovišti
        </Feature>
      </li>
      <li>
        <Feature title="Objednání">
          Možnost objednání na čas <strong>mimo ordinační hodiny</strong> v
          rámci nadstandardu
        </Feature>
      </li>
    </ul>
  </section>
  <section
    class="py-24 bg-amber-400 text-purple-950 first-child:text-center space-y-8"
  >
    <Heading size={Size.LG}>Náš tým</Heading>
    <div class="max-w-3xl mx-auto space-y-8 text-center">
      <article class="flex flex-col items-center gap-2">
        <Image
          src={doctorImage}
          class="max-w-xs"
          alt="Kateřina Rieger Konpásková"
        />
        <Label>Doktorka</Label>
        <h3 class="font-bold text-xl mt-auto">
          MUDr. Kateřina Rieger Konopásková
        </h3>
      </article>
      <article class="flex flex-col items-center gap-2">
        <Label>sestra</Label>
        <h3 class="font-bold text-xl mt-auto">Zora Pospíchalová</h3>
      </article>
      <p class="col-span-full text-center">
        <Button secondary href={config.links.team.path}>
          Dozvědět se více
        </Button>
      </p>
    </div>
  </section>
</Layout>
