---
import config from "../../config";
import logoOZP from "../images/logo_ozp.svg";
import logoMZV from "../images/logo_mzv.svg";
import logoVZP from "../images/logo_vzp.png";
import logoVOJ from "../images/logo_voj.png";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import { Size } from "../types";
interface Props {
  title: string;
  description: string;
}
const pathname = new URL(Astro.request.url).pathname;
const { title, description } = Astro.props;
const currentPath = pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="auuthor" content="Matouš Trča" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {
      title ? (
        <title>
          {title} | {config.title}
        </title>
      ) : (
        <title>{config.title}</title>
      )
    }
  </head>
  <body class="bg-orange-100 group flex flex-col min-h-screen">
    <header
      id="header"
      class="-top-px sticky overflow-hidden h-20 group-[.scrolled]:shadow-xl group-[.scrolled]:h-16 group-[.scrolled]:bg-amber-50/70 transition-all flex items-center z-10 group-[.scrolled]:backdrop-blur-lg"
    >
      <div class="container flex items-center justify-between gap-8">
        <a
          href="/"
          class="inline-flex text-amber-800 items-center gap-6 font-bold md:text-xl hover:text-amber-900"
        >
          <Heading size={Size.XS}>
            {config.title}
          </Heading>
        </a>
        <nav class="flex">
          <label
            for="hamburger"
            class="cursor-pointer uppercase font-bold tracking-wide lg:hidden relative z-50"
          >
            Menu
          </label>
          <input class="peer sr-only" type="checkbox" id="hamburger" />
          <ul
            class:list={[
              "flex gap-4 xl:gap-8 transition-transform items-center justify-center",
              "fixed top-0 right-full w-screen h-screen peer-checked:translate-x-full bg-amber-50 z-10 flex-col",
              "lg:!static lg:w-auto lg:h-auto lg:flex-row lg:bg-transparent",
            ]}
          >
            {
              Object.values(config.links).map((link) => (
                <li>
                  <a
                    href={link.path}
                    class:list={[
                      "uppercase py-2 font-bold hover:text-amber-800 transition-all tracking-wider whitespace-nowrap text-sm",
                      link.path === currentPath &&
                        "text-amber-600 border-b-2 border-amber-600",
                    ]}
                    aria-current={link.path === currentPath ? "page" : "false"}
                  >
                    {link.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
    </header>
    <main class="grow">
      <slot />
    </main>
    <footer class="bg-purple-950 text-white py-8">
      <div
        class="container grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3"
      >
        <address class="not-italic max-w-sm space-y-2">
          <p>
            Naše ordinace Pediatrie Litochleby se nachází Poliklinice Litochleby
            na pražském Chodově.
          </p>
          <p>
            Hviezdoslavova 1600/6 <br />
             149 00 Praha 4- Chodov
          </p>
           Telefon: <a class="font-bold" href={`tel:${config.phone}`}
            >{config.phone}</a
          >
          <br />
           E-mail: <a class="font-bold" href={`mailto:${config.email}`}
            >{config.email}</a
          >
        </address>
        <figure class="flex flex-col content-start gap-3">
          <figcaption class="font-bold w-full">Pojišťovny</figcaption>
          <Image
            src={logoVZP}
            alt="Logo VZP"
            class="h-8 w-24 object-contain object-left"
          />
          <Image
            src={logoVOJ}
            alt="Logo VOJ"
            class="h-8 w-24 object-contain object-left"
          />
          <Image
            src={logoOZP}
            alt="Logo OZP"
            class="h-8 w-24 object-contain object-left"
          />
          <Image
            src={logoMZV}
            alt="Logo MZV"
            class="h-8 w-24 object-contain object-left"
          />
        </figure>
        <article class="space-y-2">
          <strong> Ordinační hodiny pro nemocné</strong>
          <ul>
            {
              config.openingHours.map(([day, hours]) => (
                <li>
                  {day}: {hours}
                </li>
              ))
            }
          </ul>
          <p>Akutně nemocné pacienty přijímáme bez objednání</p>
        </article>
      </div>
    </footer>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
</style>

<script>
  function debounce(func, wait) {
    let timeout;

    return function executedFunction(...args) {
      const later = () => {
        clearTimeout(timeout);
        func(...args);
      };

      clearTimeout(timeout);
      timeout = setTimeout(later, wait);
    };
  }

  const debouncedResize = debounce(function () {
    if (window.pageYOffset > 0) {
      // or use `document.documentElement.scrollTop`
      document.body.classList.add("scrolled");
    } else {
      document.body.classList.remove("scrolled");
    }
  }, 250);

  debouncedResize();

  window.addEventListener("scroll", debouncedResize);
</script>
